@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Mulish", sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  display: inline-block;
  margin-block-end: 1em;
  width: 100%;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Root Colors & Flex Attributes*/
:root {
  --dark-bg-color: hsl(221, 39%, 11%);
  --night-bg-color: hsl(242, 47%, 34%);
  --light-bg-color: hsl(220, 14%, 96%);
  --primary-text-color: hsl(217, 17%, 85%);
  --secondary-text-color: hsl(218, 95%, 95%);
  --hover-color: hsla(220, 21%, 89%, 0.459);
}
.flex-property {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Sidebar Styling */
.sidebar-menulist {
  position: fixed;
  background-color: var(--dark-bg-color);
  min-height: 100vh;
  width: max(20%, 8.75em);
  padding: 1rem;
}
.sidebar-menulist > * {
  margin-bottom: 2rem;
}
.mode {
  margin-bottom: 0;
}
.sidebar-menulist.night {
  background-color: var(--night-bg-color);
}
.sidebar-menulist.night .list-items-text {
  color: var(--secondary-text-color);
}
.sidebar-menulist.night i {
  color: var(--secondary-text-color);
}
.sidebar-menulist.light {
  background-color: var(--light-bg-color);
}
.sidebar-menulist.light .list-items-text {
  color: var(--dark-bg-color);
}
.sidebar-menulist.light i {
  color: var(--dark-bg-color);
}
.sidebar-menulist.light .side-menu {
  border-block: 0.5px solid var(--dark-bg-color);
}
.sidebar-menulist.light .company-logo-text {
  color: var(--dark-bg-color);
}
.company-logo-text {
  color: var(--primary-text-color);
  font-weight: 550;
  font-size: 1rem;
}
i {
  display: inline-block;
  font-size: 1.2rem;
  color: var(--primary-text-color);
}
.list-property {
  padding: 0.5rem 0 0.5rem 0.5rem;
  border-radius: 8px;
  cursor: pointer;
}
.list-items-text {
  color: var(--primary-text-color);
  font-weight: 550;
  font-size: 0.9rem;
}
.list-items:hover {
  background-color: var(--hover-color);
}
.side-menu {
  margin-top: 0.5rem;
  padding-block: 2rem;
  gap: 1rem;
  border-block: 0.5px solid var(--primary-text-color);
}
.mode {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.mode-color {
  border: 1px solid var(--light-bg-color);
  border-radius: 8px;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}
.dark-mode {
  background-color: var(--dark-bg-color);
}
.night-mode {
  background-color: var(--night-bg-color);
}
.light-mode {
  background-color: var(--light-bg-color);
}
@media (max-width: 576px) {
  header {
    height: 100%;
  }
  .list-items-text {
    display: none;
  }
  .mode {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0.3rem;
    gap: 1rem;
  }
}
@media (max-width: 641px) {
  header {
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .list-items-text {
    display: none;
  }
  .mode {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
}
